<article class="big-card">
	<div class="title">
		<header>{{title}}</header>
		<img src="{{recipe_url}}" alt="" />

		<div class="recipe-text-box">{{recipe_text}}</div>

	</div>
	<div class="meta">
		{{vote_count}}
		point(s) by
		{{user.username}}
	</div>
</article>