<article class="recipe">
	<div class="title">
		<header>{{title}}</header>
		<img src="{{recipe_url}}" alt="" />
		<span>{{recipe_text}}</span>

	</div>
	<div class="meta">
		{{vote_count}}
		point(s) by
		{{user.username}}
	</div>
</article>